.sidebar li:nth-child(2) a {
    background-color: #aaa;
    color: var(--mainColor);
}
legend {
  color: var(--text-color);
}
.container .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container .form-group textarea {
    /* width: 500px; */
    /* height: 100px; */
    outline: none;
    border: none;
    resize: none;
    /* border: 2px solid #ccc; */
    box-shadow: 0 0 10px #ccc;
}
.container .age-gender {
    justify-content: space-evenly;
    align-items: center;
}
.container .age-gender .gender {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
button.show-popover {

} */
[popover]:popover-open{
    display: flex;
    flex-flow: column nowrap;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    gap: 20px;
    background-color: white;
    color: var(--mainColor);
}
.my-own-popover {
    display: none;
    position:absolute;
    z-index: -1;
    max-width: 1000px;
    width: fit-content;
    max-height: 600px;
    height: fit-content;
    display: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: unset;
    transform: translateX(-50%);
}

/* .form-group #popover:popover-open {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position-area: center span-inline-end;
    position-area: center;
    position-try-fallbacks: flip-inline;
    margin: initial;
    width: 500px;
    height: 500px;
  
} */

#my-popover {
    max-width: 80%;
    max-height: 80%;
    min-width: 500px;
    height: fit-content;
    background-color: white;
    opacity: .9;
    z-index: 11;  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    border:none;
    box-shadow: 0 0 10px #ddd;
}
/* manual backdrop */
/* start invisible */
.manual-backdrop {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10; /* Below the popover */
}

/* integer input for age */
/* Basic Styling */
input[type="number"] {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  /* Hide default spinners in most browsers */
}
 
/* google styling for select element */
/* Style the entire scrollbar */
.form-group select::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

/* Style the scrollbar track */
.form-group select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Style the scrollbar thumb (the draggable part) */
.form-group select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Style the scrollbar thumb on hover */
.form-group select::-webkit-scrollbar-thumb:hover {
  background: #555;
}