:root {
    --mainColor: #2196F3;
    --blue-color : #0075ff;
    --blue-alt-color : #0d69d5;
    --orange-color : #f59e0b;
    --green-color : #22c55e;
    --red-color : #f44336;
    --grey-color : #888;
    --x-color: rgb(29, 161, 242);
    --fb-color: rgb(59, 89, 152);
    --linkedin-color :rgb(10, 102, 194);
    --yt-color : red;
}

/* components  */
.btn-shape {
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
    margin: 20px auto;
    cursor: pointer;
}
.btn-shape-z {
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
/* ############################################################################ */

/* width  */
.w-full {
    width: 100%;
}
.mw-100 {
    max-width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-15{
    width: 15px;
}
.w-20-p {
    width: 20%;
}
.w-50 {
    width: 50px;
}
.w-100 {
    width: 100px;
}
.h-15 {
    height: 15px;
}
.h-50 {
    height: 50px;
}
.h-100 {
    height: 100px;
}
.h-full {
    height: 100%;
}
.h-100vh {
    height: 100vh;
}
/* padding + margin  */
.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.m-5 {
    margin: 5px;
}
.m-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom:20px;
}
.mb-25 {
    margin-bottom:25px;
}
/* ############################################################ */

/* fonts  */
.txt-c {
    text-align: center;
}
.txt-rt {
    text-align: right;
}
.txt-upper {
    text-transform: uppercase;
}
.txt-cap {
    text-transform: capitalize;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 25px;
}
.bold {
    font-weight: bold;
}

/* ############################################################ */

/* Color  */
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-blue {
    color: var(--blue-color);
}
.c-gray {
    color: var(--grey-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
.c-777 {
    color: #777;
}
/* bg-color  */
.bg-none {
    background-color: transparent;
}
.bg-grey {
    background-color: #96a9b8;
}
.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-eee {
    background-color: #eee;
}
.bg-f1f5 {
    background-color: #f1f5f9;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
/* ############################################################ */

/* border   */
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
}
.border-t-eee {
    border-top: 1px solid #eee;
}
.border-b-eee {
    border-bottom: 1px solid #eee;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}

/* ############################################################ */

/* ############################################################ */

/* display  */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-flex-rev {
    display: flex;
    flex-direction: row-reverse;
}
.flex-1 {
    flex: 1;
}
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}
.d-flex-c {
    display: flex;
    flex-direction: column;
}
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.d-grid {
    display: grid;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
/* ############################################################ */

/* position  */
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}

.center-vh {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* ############################################################ */

/* Box  */
.box-sh-0010ddd {
    box-shadow: 0 0 10px #ddd;
}
.b-none {
    border: none;
}
/* ############################################################ */

/* texts */
.txt-upper {
    text-transform: uppercase;
}

/*  element in mobile  */
@media (max-width:767px) {
    .hide-mob {
        display: none;
    }
    .txt-c-mob {
        text-align: center;
    }
    .block-mob {
        display: block;
    }
}