.sidebar ul li:first-child a {
    background-color: #aaa;
    color: var(--mainColor);
}

.main-content-container .cards_wrapper {
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    transition: all 1s linear;
    padding: 10px;
    flex-grow: 1;
}
/* 
.cards_wrapper .card {
    overflow: hidden;
    height: fit-content;
    min-width: 250px;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: 2px 2px 10px #ccc;
    transition: color .3s linear;
    position: relative;
    padding: 20px;
}
.cards_wrapper .card:hover {
    color: var(--mainColor);
}

.cards_wrapper .card .op-name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    color: var(--red-color);
    text-transform: uppercase;
}

.cards_wrapper .card p:not(:last-of-type) {
    padding-bottom: 33px;
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
}
.cards_wrapper .card p {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */









/* ################################################################################################################################################## */
/* 
.card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  background-color: #f1f5f9;
  border: none;
  outline: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #e1e7ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #e1e7ec;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  transform: rotateY(180deg);
} */
/* ################################################################################################################################################## */



.card {
  margin: 20px auto;
  width: 230px;
  aspect-ratio: 2/3;
  perspective: 4000px;
  /* background-color: as page; */
  background-color: var(--base-color);
  border: none;
  outline: none;
  /* clip-path: path("M 0,25 A 300,100 0,0,1 112.5,0 A 300,100 0,0,1 230,25 L 230,300 A 330,183 0,0,0 112.5,340 A 330,183 0,0,0 0,300 Z"); */
  clip-path: shape(from 0 10% , curve to 50% 0 with 50% 2% , curve to 100% 10% with 50% 2%, line to 100% 85% , curve to 50% 100% with 50% 95%, curve to 0 85% with 50% 95%, close);
  color: white;
  user-select: none;
  opacity: 0.8;
  font-weight: bold;

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;

    &:hover {
      transform: rotateY(180deg);
    }
  
  
    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: hsl(from var(--mainColor) h s calc(l + 10));

    }
    .card-front {
      transform: rotateY(0deg);
    }
    .card-back {
      transform: rotateY(180deg);
      font-size: 10px;
      
      .back-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;

        .age {
          position: absolute;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
          font-weight: bold;
          font-size: 15px;
        }

        .complaint {
          position: absolute;
          width: 80%;
          left: 10%;
          top: 30%;
          font-size: 12px;
          text-transform: capitalize;
          text-align: center;
          padding: 5px;
          box-shadow: 0 0 10px;
        }

        .labs.rads {
          position: absolute;
          width: 80%;
          left: 10%;
          height: 25%;
          top: 60%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-flow: row nowrap;


          .labs,.rads  {
            display: flex;
            flex-flow: column wrap;
            gap: 2px;
          }
        }
        

      }


      

    }

  }

}



