{% extends 'base.html' %}

{% block main_css_file %}
<link rel="stylesheet" href="{{url_for('static',filename='css/adding_page.css')}}">
{% endblock %}

{% block main_content %}
        <div class="container">
            <form action="{{url_for('adding_page.add')}}" method="POST" id="my-form">
                {{form.hidden_tag()}}
                <legend class="border-bottom mb-4">Add Patient</legend>
                <div class="form-group">
                    {{form.operation.label(class='form-control-label')}}
                    {%if form.operation.errors%}
                    {{form.operation(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.operation.errors %}
                                <span> {{error}} </span>
                            {%endfor %}
                        </div>
                    {%else%}
                    {{form.operation(class='form-control form-control-lg',id='hx-operation')}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.name.label(class='form-control-label')}}
                    {%if form.name.errors%}
                        {{form.name(class='form-control form-control-lg is-invalid',id='hx-name')}}
                            <div class="invalid-feedback">
                                {%for error in form.name.errors %}
                                    <span> {{error}} </span>
                                {%endfor %}
                            </div>
                    {%else%}
                    {{form.name(class='form-control form-control-lg',id='hx-name')}}
                    {%endif%}
                </div>
                <div class="age-gender d-flex">
                    <div class="form-group center-flex gap-5">
                        {{form.age.label(class='form-control-label')}}
                        {%if form.age.errors%}
                            {{form.age(class='form-control form-control-lg is-invalid',id='hx-age')}}
                                <div class="invalid-feedback">
                                    {%for error in form.age.errors %}
                                        <span> {{error}} </span>
                                    {%endfor %}
                                </div>
                        {%else%}
                        {{form.age(class='form-control form-control-lg',id='hx-age')}}
                        {%endif%}
                    </div>
                    <div class="form-group gender center-flex gap-5">
                        {{form.gender.label(class='form-control-label mr-5')}}
                        {%if form.gender.errors%}
                            {{form.gender(class='form-control form-control-lg is-invalid',id='hx-gender')}}
                                <div class="invalid-feedback">
                                    {%for error in form.gender.errors %}
                                        <span> {{error}} </span>
                                    {%endfor %}
                                </div>
                        {%else%}
                        {{form.gender(class='form-control form-control-lg',id='hx-gender')}}
                        {%endif%}
                    </div>
                </div>

                <div class="form-group">
                    {{form.complaint.label(class='form-control-label')}}
                    {%if form.complaint.errors%}
                        {{form.complaint(class='form-control form-control-lg is-invalid',id='hx-complaint')}}
                            <div class="invalid-feedback">
                                {%for error in form.complaint.errors %}
                                    <span> {{error}} </span>
                                {%endfor %}
                            </div>
                    {%else%}
                    {{form.complaint(class='form-control form-control-lg',id='hx-complaint')}}
                    {%endif%}
                </div>
                <div class="form-group ">
                    {{form.pmh.label(class='form-control-label')}}
                    {%if form.pmh.errors%}
                        {{form.pmh(class='form-control form-control-lg is-invalid',id='hx-pmh')}}
                            <div class="invalid-feedback">
                                {%for error in form.pmh.errors %}
                                    <span> {{error}} </span>
                                {%endfor %}
                            </div>
                    {%else%}
                    {{form.pmh(class='form-control form-control-lg',id='hx-pmh')}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.psh.label(class='form-control-label')}}
                    {%if form.psh.errors%}
                        {{form.psh(class='form-control form-control-lg is-invalid',id='hx-psh')}}
                            <div class="invalid-feedback">
                                {%for error in form.psh.errors %}
                                    <span> {{error}} </span>
                                {%endfor %}
                            </div>
                    {%else%}
                    {{form.psh(class='form-control form-control-lg',id='hx-psh')}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.labs.label(class='form-control-label')}}
                    {%if form.labs.errors%}
                        {{form.labs(class='form-control form-control-lg is-invalid',id='hx-labs')}}
                            <div class="invalid-feedback">
                                {%for error in form.labs.errors %}
                                    <span> {{error}} </span>
                                {%endfor %}
                            </div>
                    {%else%}
                    {{form.labs(class='form-control form-control-lg',id='hx-labs')}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.rads.label(class='form-control-label')}}
                    {%if form.rads.errors%}
                        {{form.rads(class='form-control form-control-lg is-invalid',id='hx-rads')}}
                            <div class="invalid-feedback">
                                {%for error in form.rads.errors %}
                                    <span> {{error}} </span>
                                {%endfor %}
                            </div>
                    {%else%}
                    {{form.rads(class='form-control form-control-lg',id='hx-rads')}}
                    {%endif%}
                </div>
            </form>
            <div class="">
                {{form.submit(class='btn btn-outline-info',id='preview-btn',onclick="show_popover()")}}
            </div>
        </div>
        <!-- Manual Backdrop normally hidden -->
         <div class="manual-backdrop" id="manual-backdrop"></div>
        <script src="{{url_for('static',filename='js/adding_page.js')}}"></script>
{% endblock %}